{% extends 'base.html.twig' %}

{% block title %}Lista produktów{% endblock %}

{% block body %}
<div class="bg-blue-500 text-white p-4 text-center">Moja testowa aplikacja</div>

 

<div class="px-30 ... bg-blue-00">
        <button class="button"><a href={{ path('app_test')}}>Testy php</a></button>   |
        <button class="button"><a href={{ path('product_list')}}>Lista produktów</a></button>
{# <form method="post" action="{{ path('product_edit_or_delete') }}" enctype="multipart/form-data"> #}
<form method="post" action="{{ path('add-category') }}" enctype="multipart/form-data">
<style>
 
</style>
<div class="table-container">
    <table class="responsive-table">
    <thead>
        <tr>
            <th class="w-auto">Lp</th>
            <th class="w-auto">Zdjecie</th>
            <th class="min-w-[200px]">Nazwa produktu</th>
            <th class="w-auto">Kategoria</th>
            
            
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
         
                <td class="border-4 border-double border-blue-400 p-2">{{ loop.index }}</td>
                <td class="p-2">
                    <img src="{{ asset('uploads/products/' ~ product.imageFilename) }}" alt="zdjęcie" class="max-w-[100px]">    
                </td>
                <td class="border-4 border-double border-blue-400 p-2 align-top max-w-[200px]">
                {{ product.nazwaProduktu }}
                <input type="hidden" name="products[{{ product.id }}][nazwaProduktu]" 
                value="{{ product.nazwaProduktu }}"> 
                </td>  
{# **********************add category************************************** #}
                <td class="border-4 border-double border-blue-400 p-2 w-auto">
            <select name="products[{{ product.id }}][category]" class="auto-input">
            <option value="">Wybierz kategorię</option>
            {% for category in categories %}
            <option value="{{ category.id }}"
                {% if product.category and product.category.id == category.id %}selected{% endif %}>
                {{ category.NameOfCat }}
            </option>
            {% endfor %}
            </select>
    </td>
           
        </tr>  
               
            {% endfor %}
         
        </tbody>
           
    </table>   
    </div>                                       

    <button type="submit" name="action" value="add-category" class="button">Zapisz zmiany</button>
   
</form>
</div>
{% endblock %}
